
.alert {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    border-radius: 4px;
    color: #468847;
    display: none;
    margin: 20px 0;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 1px 2px #EEEEEE inset;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 7px 10px;
    width: 100%;
}
textarea {
    height: 100px;
    max-width: 100%;
}
button[type="submit"] {
    background: -moz-linear-gradient(center bottom , #8C1C50 0%, #991D57 52%) repeat scroll 0 0 #991D57;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}
button[type="submit"]:hover {
    background-image: -moz-linear-gradient(center bottom , #9C215A 0%, #A82767 52%);
    transition: background-color 0.3s ease-in-out 0s;
}
button[type="submit"]:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}
input:focus, textarea:focus {
    border: 1px solid #999999;
    outline: 0 none;
}
label {
    cursor: pointer;
    display: block;
    font-weight: 900;
    margin: 5px 0;
}
